.h-main
  .h-main__frame
    .h-main__frame__group
      .h-main__frame__group__cate
        .h-main__frame__group__cate__catename
          <h2>商品一覧</h2>
        .h-main__frame__group__cate__catemotto
          .h-main__frame__group__cate__catemotto__text
            もっと見る
          .h-main__frame__group__cate__catemotto__arrow
      .h-main__frame__group__cont
        .h-main__frame__group__cont__lists
          - @items.each do |item|
            .h-main__frame__group__cont__lists__list
              .h-main__frame__group__cont__lists__list__leaf
                = link_to item_path(item) do
                  .h-main__frame__group__cont__lists__list__leaf__pic
                    - item.photos.each_with_index do |n|
                      =image_tag n.image.url, size: "188x188"
                      -break if i=0
                    .h-main__frame__group__cont__lists__list__leaf__pic__price
                      = "¥#{item.price}"
                  .h-main__frame__group__cont__lists__list__leaf__comment
                    = item.name
          = paginate(@items)