-# .h-main
-#   .h-main__frame
-#     .h-main__frame__group
-#       .h-main__frame__group__cate
-#         .h-main__frame__group__cate__catename
-#           <h2>商品一覧</h2>
-#         .h-main__frame__group__cate__catemotto
-#           .h-main__frame__group__cate__catemotto__text
-#             もっと見る
-#           .h-main__frame__group__cate__catemotto__arrow

-#       .h-main__frame__group__cont
-#         .h-main__frame__group__cont__lists
-#           .h-main__frame__group__cont__lists__list
-#             .h-main__frame__group__cont__lists__list__leaf
-#               .h-main__frame__group__cont__lists__list__leaf__pic
-#                 =link_to image_tag('uniform.jpg', width:'188'), '#'
-#                 .h-main__frame__group__cont__lists__list__leaf__pic__price
-#                   ¥6,000
-#               .h-main__frame__group__cont__lists__list__leaf__comment
-#                 インテル

-#           .h-main__frame__group__cont__lists__list
-#             .h-main__frame__group__cont__lists__list__leaf
-#               .h-main__frame__group__cont__lists__list__leaf__pic
-#                 =link_to image_tag('comic.jpg', width:'188'), '#'
-#                 .h-main__frame__group__cont__lists__list__leaf__pic__price
-#                   ¥6,000
-#               .h-main__frame__group__cont__lists__list__leaf__comment
-#                 ワンピース

-#           .h-main__frame__group__cont__lists__list
-#             .h-main__frame__group__cont__lists__list__leaf
-#               .h-main__frame__group__cont__lists__list__leaf__pic
-#                 =link_to image_tag('chair.jpg', width:'188'), '#'
-#                 .h-main__frame__group__cont__lists__list__leaf__pic__price
-#                   ¥350,000
-#               .h-main__frame__group__cont__lists__list__leaf__comment
-#                 チェアー

-#           .h-main__frame__group__cont__lists__list
-#             .h-main__frame__group__cont__lists__list__leaf
-#               .h-main__frame__group__cont__lists__list__leaf__pic
-#                 =link_to image_tag('kendama.jpg', width:'188'), '#'
-#                 .h-main__frame__group__cont__lists__list__leaf__pic__price
-#                   ¥800
-#               .h-main__frame__group__cont__lists__list__leaf__comment
-#                 日本けん玉協会公式けん玉
  
-#           .h-main__frame__group__cont__lists__list
-#             .h-main__frame__group__cont__lists__list__leaf
-#               .h-main__frame__group__cont__lists__list__leaf__pic
-#                 =link_to image_tag('denim.jpg', width:'188'), '#'
-#                 .h-main__frame__group__cont__lists__list__leaf__pic__price
-#                   ¥200,000
-#               .h-main__frame__group__cont__lists__list__leaf__comment
-#                 ヴィンテージ・デニム　ヴィンテージ・デニム
     
-#           .h-main__frame__group__cont__lists__list
-#             .h-main__frame__group__cont__lists__list__leaf
-#               .h-main__frame__group__cont__lists__list__leaf__pic
-#                 =link_to image_tag('ramen.jpg', width:'188'), '#'
-#                 .h-main__frame__group__cont__lists__list__leaf__pic__price
-#                   ¥800
-#               .h-main__frame__group__cont__lists__list__leaf__comment
-#                 しょうゆラーメンしょうゆラーメンしょうゆラー

-#           .h-main__frame__group__cont__lists__list
-#             .h-main__frame__group__cont__lists__list__leaf
-#               .h-main__frame__group__cont__lists__list__leaf__pic
-#                 =link_to image_tag('ticket.jpg', width:'188'), '#'
-#                 .h-main__frame__group__cont__lists__list__leaf__pic__price
-#                   ¥60,000
-#               .h-main__frame__group__cont__lists__list__leaf__comment
-#                 ワールドカップチケットワールドカップチケット

-#           .h-main__frame__group__cont__lists__list
-#             .h-main__frame__group__cont__lists__list__leaf
-#               .h-main__frame__group__cont__lists__list__leaf__pic
-#                 =link_to image_tag('kumanomi.jpg', width:'188'), '#'
-#                 .h-main__frame__group__cont__lists__list__leaf__pic__price
-#                   ¥1,500
-#               .h-main__frame__group__cont__lists__list__leaf__comment
-#                 ファインディングニモファインディングニモ


-#           .h-main__frame__group__cont__lists__list
-#             .h-main__frame__group__cont__lists__list__leaf
-#               .h-main__frame__group__cont__lists__list__leaf__pic
-#                 =link_to image_tag('shiro.jpg', width:'188'), '#'
-#                 .h-main__frame__group__cont__lists__list__leaf__pic__price
-#                   ¥1,500,000,000,000
-#               .h-main__frame__group__cont__lists__list__leaf__comment
-#                 姫路城。兵庫県にあります。姫路市にあります。

-#           .h-main__frame__group__cont__lists__list
-#             .h-main__frame__group__cont__lists__list__leaf
-#               .h-main__frame__group__cont__lists__list__leaf__pic
-#                 =link_to image_tag('amanda.jpg', width:'188'), '#'
-#                 .h-main__frame__group__cont__lists__list__leaf__pic__price
-#                   ¥-
-#               .h-main__frame__group__cont__lists__list__leaf__comment
-#                 アマンダサイフリッドアマンダサイフリッド



.h-main
  .h-main__frame
    .h-main__frame__group
      .h-main__frame__group__cate
        .h-main__frame__group__cate__catename
          <h2>商品一覧</h2>
        .h-main__frame__group__cate__catemotto
          .h-main__frame__group__cate__catemotto__text
            もっと見る
          .h-main__frame__group__cate__catemotto__arrow
      .h-main__frame__group__cont
        .h-main__frame__group__cont__lists
          - @items.each do |item|
            .h-main__frame__group__cont__lists__list
              .h-main__frame__group__cont__lists__list__leaf
                = link_to item_path(item) do
                  .h-main__frame__group__cont__lists__list__leaf__pic
                    - item.photos.each_with_index do |n|
                      =image_tag n.image.url, size: "188x188"
                      -break if i=0
                    -# = image_tag item.photos.image.to_s, size: "200x200"
                    .h-main__frame__group__cont__lists__list__leaf__pic__price
                      = "¥#{item.price}"
                  .h-main__frame__group__cont__lists__list__leaf__comment
                    = item.name
          = paginate(@items)

    -# .comments
    -#   %h4 ＜コメント一覧＞
    -#   - if @comments
    -#     - @comments.each do |comment|
    -#       %p
    -#         %strong
    -#           = link_to comment.user.nickname, "/users/#{comment.user_id}"
    -#           ：
    -#         = comment.text