%body
  .wrapper
    = render 'items/headder'
    .l-container.clearfix
      -# = render 'users/side'
      .mypage-content
        %section.mypage-content__chapter-container
          %h2.signup-main__chapter-head
            = current_user.nickname
            支払い方法
          .mypage__notification.mypage__notification--success
          .signup-main__inner
          %section.setting-add__card
            .signup-main__content
              %h3.signup-main__chapter-sub-head
                登録クレジットカード情報
                %br
                = "**** **** **** " + @default_card_information.last4
                %br
                - exp_month = @default_card_information.exp_month.to_s
                - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                = exp_month + " / " + exp_year
                = form_tag(delete_user_credit_card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
                  %input{ type: "hidden", name: "card_id", value: "" }
                  %button 削除する
            .signup-main__content
              = link_to new_user_credit_card_path, class: 'signup-main__btn-default signup-main__btn-red signup-main__submit_button' do
                = icon 'far', 'credit-card'
                クレジットカードを追加する
          .mypage-content__not-regist
            = link_to '#', target: '_blank' do
              %span 支払い方法について
              = icon 'fas', 'chevron-right'
= render 'items/footer.html.haml'