= render 'items/headder.html.haml'

.category-main
  .category-main__pc
    %h2 カテゴリ一覧
    .category-main__pc__ls
      - @parents.each do |parent|
        = link_to("#{parent.name}", category_path(id: parent.id), {class: "parents"})
    .category-main__pc__lsbox
      .lsbox-ones
        - @parents.each do |parent|
          .lsbox-ones__name
            = link_to("#{parent.name}", category_path(id: parent.id), {class: "parent"})
            - parent.children.each do |child|
              .lsbox-ones__lst
                .lsbox-ones__lst__children
                  = link_to("#{child.name}", category_path(id: child.id), {class: "children"})
                  .lsbox-ones__lst__groundshild
                    - child.children.each do |grandchild|
                      .lsbox-ones__lst__groundshild__box
                        = link_to("#{grandchild.name}", category_path(id: grandchild.id), {class: "grandchild"})

= render 'items/footer.html.haml'